<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Open AI API Caller</title>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <style> @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); </style>
        <link rel="icon" type="image/x-icon" href="/img/aisite.ico">
        <script src="https://kit.fontawesome.com/c4516edd08.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <span id="mainArea">
      <textarea id="prompt" autocapitalize="false" spellcheck="true"></textarea> 
      <span id="submit-button" onclick="apiCallTestSubmit()">Submit</span> 
      <span class="loader"><span></span><span></span><span></span></span>
    </span>

    <span id="menu">
      <div class="menu-item">
        <h1>Model</h1>
        <select name="cars" id="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="menu-item">
        <h1>Temperature</h1>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
      <div class="menu-item">
        <h1>Max Length</h1>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
      <div class="menu-item">
        <h1>Temperature</h1>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
    </span>
  </body>
  <script src="js/apiCaller.js"></script>
</html>

