html {
    background-color: #1d1e23;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body{
    display: flex;
    gap: 0px;
}

#mainArea{
    height: 95vh;
    width: 100%;
    margin: 10px;

    border-radius: 20px;
    background: #1d1e23;
    box-shadow:  5px 5px 11px #141519,
             -5px -5px 11px #26272e;
}

#prompt{
    min-width: 250px;
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 15px;

    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    font-family: 'Roboto', sans-serif;
    background-color: #2b2f38;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    font-size: 16px;
    
}

#menu{
    height: auto;
    max-width: 250px;
    min-width: 250px;
    margin: 10px;

    background-color: #3a3c49;
    border-radius: 10px;
    box-shadow:  5px 5px 11px #141519,
             -5px -5px 11px #26272e;
    
    align-items: center;

    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

#submit-button{
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    position: fixed;
    bottom: 6vh;
    margin-left: -150px;
    

    

    background-color: rgba(255, 255, 255, 0.05);

    border-radius: 50%;
    background: rgb(154,123,253);
    background: linear-gradient(174deg, #9a7bfd 0%, #7558d2 100%);
    border-radius: 100px;
    color: white;
    font-size: xx-large;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#submit-button:active{
    box-shadow: inset 5px 5px 26px #7558d2,
            inset -5px -5px 26px #9a7bfd;
}




.menu-item{
    border: 2px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}








/* Loading */

.loader {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;

  }
  .loader span {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    border-radius: 3px;
  }
  .loader span:nth-child(1) {
    background: #9a7bfd;
    left: 8px;
    animation-delay: -0.24s;
  }
  .loader span:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .loader span:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes loader {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }