html {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#flexarea{
    display: flex;
}

#main{
    flex: 1;
    margin: 10px;
    display: flex;
    
    height: 95vh;
    
    box-shadow: 5px 5px 2px #101010, -5px -5px 2px #141414;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0);

    flex-direction: column;
    z-index: 0;


}

#promt-area{
    padding: 0px;
    margin: 0px;
}

#prompt{
    display: flex;
    margin: 20px;
    margin-bottom: 5px;
    resize: none;
    outline: none;
    width: auto;
    height: 85%;
    padding: 10px;

    background: #1d1d1d;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    z-index: 1;
}



#submit-button{
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.05);
    height: 10vh;
    width: 10vw;
    min-width: 100px;
    margin-left: auto;
    font-size: 30px;
    color: white;
    outline: none;
    border: none;
    align-items: center;
    align-content: center;

    overflow: hidden;
    order: 2;

    border-radius: 45px;
    background: linear-gradient(145deg, #131313, #101010);
    box-shadow:  5px 5px 10px #0d0d0d,
                -5px -5px 10px #171717;
}

#submit-button:active{
    background: linear-gradient(145deg, #101010, #131313);
    box-shadow:  5px 5px 10px #0d0d0d,
                -5px -5px 10px #171717;
}

#submit-button:hover{
    cursor: pointer;
}




#input-area{
    margin: 1px;
    padding: 10px;
    align-items: flex-start;
    display:flex;
    vertical-align: middle;
    align-items: center;
}

#API-head{
    color: white;
    display: inline;
    margin: 10px;
    margin-right: 10px;
    min-width: 95px;
    font-size: 25px;
}

#api-key{
    margin-left: 0px;
    font-size: 30px;
    padding: 10px;
    border-radius: 30px;
    width: 20vw;
    min-width: 100px;
    border: none;
    color: white;

    border-radius: 45px;
    background: #1e1e1e;
    box-shadow: inset 5px 5px 10px #161616, inset -5px -5px 10px #252525;
}

#api-key:focus{
    outline: none;
}

#view-button{
    border-radius: 25px;
    background:rgba(255, 255, 255, 0.05);
    height: 7vh;
    width: 5vw;
    margin: 10px;
    font-size: 25px;
    color: white;
    outline: none;
    border: none;
    vertical-align: middle;
    overflow: hidden;
    min-width: 50px;
    border-radius: 45px;
    background: linear-gradient(145deg, #131313, #101010);
    box-shadow:  5px 5px 10px #0b0b0b,
                 -5px -5px 10px #191919;
}

#view-button:hover{
    cursor: pointer;
}


#selected-model{
    font-size: large;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

option{ 
    /* Whatever color  you want */
    background-color: #1e2b3f;
}








#menu{
    height: 95vh;
    width: 20vw;
    margin: 10px;
    min-width: 200px;
    max-width: 200px;
    color: white;
    
    border-radius: 10px;
    background:#1a1a1a;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 5px 5px 2px #101010, -5px -5px 2px #141414;

}

hr{
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}




.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: auto; 
    height: 25px; 
    background: rgba(255, 255, 255, 0.1); 
    outline: none; 
    border-radius: 25px;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
    background: white; 
    cursor: pointer; 
    border-radius: 25px;
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: white; 
    cursor: pointer; 
    border-radius: 25px;
}


.params{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

h2{
    font-size: large;
}

h5{
    vertical-align: middle;
    margin: auto;
    margin-left: 5px;
    max-width: 10px;
    width: 10px;
    font-size: medium;
}








.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 40%;
    top: 40%;
    visibility: hidden;
    
  }
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}